body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7FF

.tabletest2
  border-collapse collapse
  font-size 15px
  margin-bottom 40px
  margin-top 20px
  width 100%

.tabletest2, .tabletest2 th, .tabletest2 td
  border-bottom 1px solid #ddd
  padding 8px
  text-align left

table
  &.tabletest2
    tbody
      tr
        &.deleted
          td
            text-decoration line-through
            color #999

.error
  color red

